.item-list {
  display: block;
  width: 100%;

  background-color: #fff;
  border-radius: 5px;
  &__list {
    li {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    padding: 15px 0;
    display: block;

    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #000;

    border: 2px solid rgb(96, 106, 241);

    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    &:hover {
      border-color: rgb(13, 27, 218);

      background-color: rgb(147, 126, 243);
    }
  }
}
